.todoHeading{
  font-weight: 900px;
  font-size: 50px;
  margin: 10px;
  margin-bottom: 20px;
  border: 2px solid rgb(4, 10, 66);
  width: 300px;
  background-color: rgb(40, 186, 206);
  color: rgb(234, 240, 239);
  

}